body, p, li, ul, nav, header, footer, h1, h2, h3 {
  margin:0;
  padding:0;
  font-family: "Special Elite", serif;
}

a{
  text-decoration: none;
  color: #282828;
}
a:hover {
  color:#C88239;
}

/* SET UP PAGE GRID */
#gridParent {
  display: grid;
   grid-template-rows: auto .25em auto 1em auto;
 }

header{
  grid-row: 1 / 2;
}
#splash {
  grid-row: 3 / 4;
}
footer {
  grid-row: 5;
}

/* ======= HEADER ====== */
/* SET UP HEADER GRID */
header {
  display: grid;
  grid-template-columns: auto 1em auto 1em auto;
  width: 96vw;
  margin: 0 auto;
  height: 10em;
}

#logo{
  grid-column: 1 / 2;
}
#hero{
  grid-column: 3 / 4;
}
#socialIcons {
  grid-column: 5;
}

header {
  background-image: url(assets/HeaveyLogoSmall4.jpg);
  background-repeat: no-repeat;
  background-size: 9em;
}
#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1{
  font-size: 3.5em;
  font-family: "Merriweather", serif;
  color: #C88239;
}
#hero h2{
  font-size: 1.5em;
  font-weight: 100;
  color: #4d4d4d;
  font-family: "Special Elite", serif;
}

#logo{
 width: 13em;
}
#socialIcons {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}
.social {
  height: 3em;
}
/* ====== SPLASH PAGE ====== */
#splash {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#potomac {
width: 100vw;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65vw;
  padding-top: 2em;
  margin: 0 auto;
  font-size: 1.75em;
}

#bestBox {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

#best {
 font-family: 'Merriweather';
  text-align: center;
  margin-top: 2em;
  font-size: 1.5em;
  color: #5F572F;
}

#bold {
  font-family: 'Merriweather';
  font-style: italic;
  font-size: 1.25em;
  text-align: right;
  margin-top: 1em;
  color: #5F572F;
}


/*   ====== FOOTER ======== */
#designedBy {
  display: flex;
}
footer a{
  color: #C88239;
}
footer {
  height: 3em;
  display: flex;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
}

footer p{
  color: gray;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}
#noPipe {
  display: flex;
  flex-direction: row;
}

/* === Media Queries === */

@media (min-width: 100em) {
  #hero h1 {
    font-size: 5em;
  }
  nav {
    font-size: 2em;
  }
  #best {
    font-size: 2em;
  }
  #bold {
    font-size: 1.5em;
  }
}
/* TABLET LANDSCAPE */
@media(max-width: 51em){
  .social {
    height: 2.5em;
  }
  #logo {
    width: 10em;
  }
  header {
    height: 9em;
  }
  #bestBox {
    width: 80%;
  }
}

@media(max-width: 62.5em){
  header {
    background-size: 8em;
    }
    #hero h1 {
      font-size: 3em;
    }
    #hero h2{
      font-size: 1.25em;
    }
    #best {
      font-size: 1.25em;
    }
    #bold {
      font-size: 1em;
    }
    nav {
      font-size: 1.5em;
      width: 75vw;
    }
}

/* IPHONE 7 PLUS */
@media (max-width: 25.875em){
  header {
    background: none;
    grid-template-rows: 1em auto 1em auto 1em;
    height: 11em;
  }
  #logo{
    width: 1em;
    grid-row: 1;
  }
  #hero {
    grid-row: 4 /5;
    grid-column: 3;
  }
  #socialIcons {
    grid-row: 2 / 3;
    grid-column: 3;
    justify-content: center;
  }
  #potomac{
    width: 150%;
    height: 15em;
  }
  nav {
    width: 100vw;
  }
  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    font-size: 0.7em;
  }
  #designedBy {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (min-width: 26em){
  #noPipe::after {
    content: "|";
    padding-left: 5px;
  }

}
